{% extends 'index.html' %}


{% block content %}


<div class="container my-5">
    <div class="card text-dark bg-light shadow p-3 mb-5 bg-body rounded">
        <div class="form-group">

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}


                {% if type == 'create' %}
                <input type="submit" class="btn btn-primary" value="Create">
                {% else %}
                <input type="submit" class="btn btn-warning" value="Update">
                {% endif %}


            </form>
        </div>
    </div>
</div>



{% endblock content %}