name: Black Code Formatting

on:
  pull_request:
    branches:
      - main

jobs:
  format:
    name: Format with Black
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{secrets.PAT}}

      - name: Set up Python
        uses: actions/setup-python@v4.7.0
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install black

      - name: Format code with Black
        run: git diff --name-only --diff-filter=ACMRT ${{ github.event.pull_request.base.sha }} ${{ github.sha }} | grep "\.py$" | xargs -I {} black {} --line-length=250

      - name: Check for changes
        id: check_changes
        run: |
            if [[ $(git diff --exit-code) ]]; then
              echo "Changes detected"
              echo "CHANGES_DETECTED=true" >> $GITHUB_ENV
            fi

      - name: Commit changes
        if: env.CHANGES_DETECTED == 'true'
        run: |
          git config user.name "GitHub Action"
          git config user.email "action@github.com"
          git add .
          git commit -m "Auto-format code using black"
          git push origin HEAD:${{github.head_ref}}
